{{- if and (not (eq .Params.single true)) (or .PrevInSection .NextInSection) -}}
<nav class="article navigation">
    {{- with .PrevInSection -}}
    <p><a class="link" href="{{- .RelPermalink -}}"><span class="li">&larr;</span>{{- .Title | safeHTML -}}</a></p>
    {{- else -}}
    <p class="link">{{ T "firstPost" }}<span class="li">&nbsp;&#x2731;</span></p>
    {{- end -}}
    {{- with .NextInSection -}}
    <p><a class="link" href="{{- .RelPermalink -}}"><span class="li">&rarr;</span>{{- .Title | safeHTML -}}</a></p>
    {{- else -}}
    <p class="link"><span class="li">&nbsp;&#x2718;</span>{{ T "lastPost" }}</p>
    {{- end -}}
</nav>
{{- end -}}